$theme-colors:(
    "primary": #C4DCED,
    "secondary": #EFA8A0, 
    "light": #f7f4eb,
    "dark": #2c324c,
);

$border-radius:10px;

//import needed stuff
@import "node_modules/bootstrap/scss/bootstrap.scss";

//custom css
@font-face{
    font-family: 'neoto-serif-italic';
    src: url(src/fonts/neatoserif-italic-webfont.woff2) format('woff2'), 
         url(src/fonts/neatoserif-italic-webfont.woff) format('woff'),
         url(src/fonts/NeatoSerif-Italic.otf) format('otf');
}

.logo-text{
    font-family: 'neoto-serif-italic', 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.logo{
    position: fixed;
    left: 20px;
    top: 20px;
}

.nav-item{
    font-family: Barlow, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.video-bg{
    margin: auto;
    min-height: 50%;
    max-height: 100%;
    min-width: 50%;
    max-width: 100%;
}

.icons{ 
    font-size: 2rem;
}

i{
    margin: auto 2rem;
}

.header-text{
    font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

//
.line_wrap {
    position:relative;
    display:inline-block;        
}
span.line {
    display:inline-block;
    position:absolute;
    left:0;
    top:45%;
    width:0;
    border-top:3px solid var(--dark);
    -webkit-transition: width 0.5s ease-in;
}
span.line_wrap:hover span.line {
    width:100%;    
}

.active span{
    text-decoration-line: line-through !important;
    font-weight: bold;
}